# Compiled class files
*.class
/bin/
/build/
# Gradle build system
.gradle/
# IntelliJ IDEA
.idea/
# Core library copied in manually for IntelliJ, as it doesn't support linking it like an Eclipse project
src/comp3170/*.java
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/bin/
# Mac directory info cache
.DS_Store
